@import "tailwindcss";

@theme {
    --color-primary-text: var(--primary-text);
    --color-secondary-text: var(--secondary-text);

    --color-primary-bg: var(--primary-bg);
    --color-primary-bg-cards: var(--primary-bg-cards);

    --color-primary-border: var(--primary-border-cards);

    --color-primary-accent: var(--primary-accent);
    --color-secondary-accent: var(--secondary-accent);

    --font-headline: "Roboto Flex", serif;
    --font-body: "Literata", serif;
    --font-label: "Work Sans", sans-serif;
}

:root {
    --font-family-headline: Roboto Flex;
    --font-family-body: Literata;
    --font-family-label: Work Sans;

    --primary-text: #1A2530;
    --secondary-text: #657381;

    --primary-accent: #2D483E;
    --secondary-accent: #26a059;

    --primary-bg: #f8f6f1;

    --primary-bg-cards: #f9f8f5;
    --primary-border-cards: #e4e1dc;
}

.dark {
    --primary-text: #e6e4df;
    --secondary-text: #a8a39d;

    --primary-accent: #4ade80;
    --secondary-accent: #D4AF37;

    --primary-bg: #0d1210;

    --primary-bg-cards: #1a221f;
    --primary-border-cards: #2d3833;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-family-label), serif;
}

h1 { font-family: var(--font-family-headline), serif; }
h2 { font-family: var(--font-family-body), serif; color: #1A2530; }
h3, h4, p { font-family: var(--font-family-label), serif; }

.data-collection {
    display: flex;
    flex-direction: row;
    width: 80vw;
}


.icon {
    width: 3vw;
    height: 7vh;
    background-color: var(--primary-border-cards);
    padding: 2%;
    border-radius: 10px;
    align-self: center;
}